<div>
  <h1>HTMXテスト 複数箇所更新</h1>
  <div>
    <button 
    hx-get="/htmx/oob1"
    hx-swap="OuterHTML"
    hx-select="#response"
    > 送信 </button>
  </div>

  <div id="status">結果：未送信</div>
  <div id="status2">結果：未送信test</div>

  <hr>

  <div>
    <button 
    hx-get="/htmx/oob2"
    hx-select="#response"
    hx-select-oob="#status3,#status4"
    > 送信 2 </button>
  </div>
  <!--    
    hx-select-oob="#status3:afterbegin"
    hx-select-oob="#status3,#status4"
    hx-swap="outerHTML"
  -->
  <div id="status3">結果：未送信..3</div>
  <div id="status4">結果：未送信test..4</div>
</div>
