<div>
  <h1>HTMXテスト</h1>
  <button 
    hx-trigger="confirmed" 
    hx-post="/htmx/destroy" 
    hx-target="#message" 
    hx-swap="innerHTML"
    onClick='swal({
    	title: "Are you sure?",
    	text: "realy?",
    	icon: "warning",
    	buttons: true,
    }).then( (willDelete) => {
    	if (willDelete) { htmx.trigger(this, "confirmed"); }
    });' 
>Delete Something... </button>

 <div id="message"></div>

 <hr/>

 <h1>HTMXテスト2</h1>
  <button 
    hx-post="/htmx/destroy" 
    hx-confirm="削除していいの？" 
    confirm-with-sweet-alert="true"
    hx-target="#message2" 
    hx-swap="innerHTML"
  >Delete Something...
 </button>
 <div id="message2"></div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  document.addEventListener( "htmx:confirm", (e)=> {
    if (!e.target.matches("[confirm-with-sweet-alert='true']")) return
    e.preventDefault();
    swal({ 
      title: "Proceed?",
      text: `I ask you... ${ e.detail.question }`,
      icon: "warning",
	buttons: true,
      }).then( (willDelete)=> {
       if (willDelete) e.detail.issueRequest(true);
      })
  })
</script>
</div>
